<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find conveyor)/worlds/conveyor.world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/> -->

    <group ns="multi_conveyor" >
        <arg name="x_initial" default="1.0" />
        <arg name="z_initial" default="0.0" />
        <include file="$(find conveyor)/launch/conveyor.launch">
            <arg name="system" value="1" />
            <arg name="x" value="$(arg x_initial)" />
            <arg name="y" value="1.2" />
            <arg name="z" value="$(arg z_initial)" />
        </include>

        <include file="$(find conveyor)/launch/conveyor.launch">
            <arg name="system" value="2" />
            <arg name="x" value="$(arg x_initial)" />
            <arg name="y" value="2.4" />
            <arg name="z" value="$(arg z_initial)" />
        </include>

        <include file="$(find conveyor)/launch/conveyor.launch">
            <arg name="system" value="3" />
            <arg name="x" value="$(arg x_initial)" />
            <arg name="y" value="3.6" />
            <arg name="z" value="$(arg z_initial)" />
        </include>

        <include file="$(find conveyor)/launch/conveyor.launch">
            <arg name="system" value="4" />
            <arg name="x" value="$(arg x_initial)" />
            <arg name="y" value="4.8" />
            <arg name="z" value="$(arg z_initial)" />
        </include>

        <include file="$(find conveyor)/launch/conveyor.launch">
            <arg name="system" value="5" />
            <arg name="x" value="$(arg x_initial)" />
            <arg name="y" value="6.0" />
            <arg name="z" value="$(arg z_initial)" />
        </include>
    </group>

    <group ns="camera" >
        <arg name="x_initial" default="0.5" />
        <arg name="y_initial" default="2.9" />
        <arg name="z_initial" default="0.0" />
        <arg name="yaw" default="-1.57" />
        <include file="$(find conveyor)/launch/camera.launch">
            <arg name="x" value="$(arg x_initial)" />
            <arg name="y" value="$(arg y_initial)" />
            <arg name="z" value="$(arg z_initial)" />
            <arg name="yaw" value="$(arg yaw)" />
        </include>
    </group>

    <group ns="lidar" >
        <arg name="x_initial" default="0.5" />
        <arg name="y_initial" default="2.6" />
        <arg name="z_initial" default="0.0" />
        <include file="$(find conveyor)/launch/lidar.launch">
            <arg name="x" value="$(arg x_initial)" />
            <arg name="y" value="$(arg y_initial)" />
            <arg name="z" value="$(arg z_initial)" />
        </include>
    </group>

    <node name="spawnmodel" pkg="conveyor" type="demo_spawnmodel.py" required="true"/>
    <node pkg="rqt_console" type="rqt_console" name="rqt_console" />
</launch>